body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.question {
    font-family: 'Trebuchet MS';
    color: black;
    font-size:70px;
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    animation: move 120s linear infinite;
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}

.buttons {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    gap: 20px;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#noButton {
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
.question { font-size: 2em }
}
